<div class="position">
    <div class="example-container">
        <div [formGroup]="form">
            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Version</mat-label>
                    <input matInput formControlName="version">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="blurb">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Tags</mat-label>
                    <input matInput formControlName="tags">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Partype</mat-label>
                    <input matInput formControlName="partype">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Attack</mat-label>
                    <input type="number" matInput formControlName="attack">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Defense</mat-label>
                    <input type="number" matInput formControlName="defense">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Difficulty</mat-label>
                    <input type="number" matInput formControlName="difficulty">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Hp</mat-label>
                    <input type="number" matInput formControlName="hp">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Hpperlevel</mat-label>
                    <input type="number" matInput formControlName="hpperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Mp</mat-label>
                    <input type="number" matInput formControlName="mp">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Mpperlevel</mat-label>
                    <input type="number" matInput formControlName="mpperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Movespeed</mat-label>
                    <input type="number" matInput formControlName="movespeed">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Armor</mat-label>
                    <input type="number" matInput formControlName="armor">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Armor per level</mat-label>
                    <input type="number" matInput formControlName="armorperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Spellblock</mat-label>
                    <input type="number" matInput formControlName="spellblock">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Spellblock per level</mat-label>
                    <input type="number" matInput formControlName="spellblockperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Attack range</mat-label>
                    <input type="number" matInput formControlName="attackrange">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Hp regen</mat-label>
                    <input type="number" matInput formControlName="hpregen">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Hp regen per level</mat-label>
                    <input type="number" matInput formControlName="hpregenperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Mpregen</mat-label>
                    <input type="number" matInput formControlName="mpregen">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Mp regen per level</mat-label>
                    <input type="number" matInput formControlName="mpregenperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Crit</mat-label>
                    <input type="number" matInput formControlName="crit">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Crit per level</mat-label>
                    <input type="number" matInput formControlName="critperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Attack damage</mat-label>
                    <input type="number" matInput formControlName="attackdamage">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Attack damage per level</mat-label>
                    <input type="number" matInput formControlName="attackdamageperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Attack speed per level</mat-label>
                    <input type="number" matInput formControlName="attackspeedperlevel">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Attack speed</mat-label>
                    <input type="number" matInput formControlName="attackspeed">
                </mat-form-field>
            </p>

            <p>
                <button mat-raised-button class="button-position" (click)="submit()" style="background-color: #5DADE2; color: white;">Submit</button>
                <button mat-raised-button color="warn" [disabled]="disableButtons" [mat-dialog-close]="null" style="margin-left: 10px;">Cancel</button>
            </p>
        </div>
    </div>
</div>