.position{
    text-align: center;
}

.input{
    width: 600px;
}

.small-input{
    margin-left: 10px;
    width: 300px;
}

.margin-form{
    margin-right: 20px;
}

.radio-button{
    margin-top: 15px;
    margin-left: 15px;
}