.message-icon{
    font-size: 25px;
    width: 25px;
    height: 25px;
}

.message-info{
color: #3296E1;
}

.message-warning{
    color: orange;
}

.message-danger{
    color: red;
}

.message-confirmation{
    color: #3296E1;
}